body{
/*	background-image: url(https://phonoteka.org/uploads/posts/2021-04/1619749729_22-phonoteka_org-p-prozrachnii-fon-dlya-saita-23.png);*/
	font-size: 14pt;
	border: 2px dashed #87CEFA;
	margin:  20px;
	padding: 10px;
}

.body2,.body3{
	margin:  40px;
	padding: 20px;
 	color: rgba(0,0,0,0.95);
 	border: 2px solid  dodgerblue;
	border-radius: 10px;
 	background-color: #e3f3ff;
	opacity: 0.85;
	box-shadow: 3px 3px 5px grey;
}

.body1{
	margin-top:  10px;
	margin-left:  40px;
	margin-right:  40px;
	padding: 20px;
 	color: rgba(0,0,0,0.95);
 	border: 2px solid  dodgerblue;
	border-radius: 10px;
 	background-color: #e3f3ff;
	opacity: 0.85;
	box-shadow: 3px 3px 5px grey;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
	transition: 0.2s ease-in;
}

.forms{
	height: 105px;
	margin:  20px;
	padding: 15px;
	color: rgba(0,0,0,0.75);
	opacity: 0.85;
	margin:  20px;
	padding: 25px;
	border: 2px solid grey;
	border-radius: 10px;
	background-color: #e6e9f0;
}

.body1:hover,.body2:hover{
	transform: scale(1.01);
	border: 2px dashed blue;
	background-color: #d2ecff;
	color: black;
}

.image:hover{
	transform: scale(1.2);
}

h1,h2,h3{
	color: black;
	margin-top:  1px;
}

tt{
	color: black;
	font-size: 16pt;
}

a{
	color: red;
 	font-size: 15px;
}

li{
	list-style-type: none;
}

.body2 li{
	list-style-type: none;
	margin:  20px;
}

#table li{
	margin:  2px;
}

#doc{
	color: #90d2ff;
}







/*краткая справка*/

/* селектор{
	свойство1:значение1;
	свойство2:значение2;
	свойство3:значение3;
} */

/* свойства */
#test{
	transform: scale(1.3);/*трансформирование элемента, scale-изменить размер*/
	margin:  10px;/*наружние отступы*/
	margin-top:  1px;/*наружние отступы сверху*/
	margin-left:  30px;/*наружние отступы слево*/
	margin-right:  30px;/*наружние отступы справо*/
	padding: 15px;/*внутрение отступы*/
 	color: rgba(0,0,0,0.75); /* цвет текста, 0.75 непрозрачность */
 	border: 2px dashed grey;/*рамка*/
 	background-color: #e6e9f0;/*фон блока*/
	border-radius: 10px;/*закруглить углы рамки*/
	opacity: 0.8;/*0.8 непрозрачность блока*/
	box-shadow: 3px 3px 5px black;/*Тень блока*/
	width: auto;/*ширина*/
	height: auto;/*высота*/
	display: block;/*видимость на экране*/
	text-align: left;/*расположение текста*/
}
